/******************************************************/
/************** CSS FOR RESOURCES.HTML **************/
/******************************************************/
body {
  background: rgb(13,56,211);
  background: linear-gradient(39deg, rgba(13,56,211,1) 29%, rgba(67,214,185,1) 71%);
}

h1 {
  color: white;
  
}

.page-header-action {
  width: 100%;
  position: absolute;
  text-transform: uppercase;
  background-color: #f4364c;
}

.container-resources {
  position: absolute;
  padding: 0.5em 0;
  align-items: center;

  left: 5%;
  right: 5%;

  margin: 5% 0;
  width: 90%;

}

.resource-list {
  padding-top: 50px;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 100px;
  margin: 0;
  font-size: 12pt;
}

/* Styling for individual action list items */
.resource-list li {
  cursor: pointer;
  padding-top: 8px;
  padding-right: 30px;
  padding-bottom: 8px;
  
  position: relative;
  width: 85%;
  color: white;
  /*border-style: dotted;*/ /*Uncomment to see the outline of the container*/
}

.resource-list a:hover {
  color: #f4364c;
}

.resource-list a {
  color: #43d6b9ff;;
}