/* All of the main styles were created to be mobile friendly*/
/* They are adjusted for larger screens in the @media section at the end */

/************************************************/
/************* UNIVERSAL ELEMENTS ***************/
/************************************************/

body,
html {
  height: 100%;
  font-size: 20px;
  font-family: "Roboto", sans-serif; /* Change this to your font */
  line-height: 1.5em;
  margin: 0em;
  color: white;
  background-color: #0D38D3;
  box-sizing: border-box;
}

h1 {
  letter-spacing: 5px;
  font-size: 50px;
  font-family: "Roboto Mono", sans-serif; /* Change this to your font */
  color: #43d6b9ff;
  text-align: center;
}

h2 {
  letter-spacing: 3px;
  font-size: 25px;
  font-family: "Roboto Mono", sans-serif; /* Change this to your font */
  color: #43d6b9ff;
  text-align: center;
  line-height: 1.3em;
}

/************************************************/
/*************** CSS FOR NAV BAR ****************/
/************************************************/
ul.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #43d6b9ff;
  border-style: solid;
  border-color: #0D38D3;
}

li.nav {
  float: right;
  font-size: 15px;
}

li.nav a {
  display: block;
  color: #0D38D3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

/* Change the backgroung color to a lighter blue on hover */
li.nav a:hover {
  background-color: #0D38D3;
  color: #43d6b9ff;
}

/************************************************/
/************** CSS FOR INDEX.HTML **************/
/************************************************/


/*-----------TOP IMAGE + TEXT-----------*/
/* Container for top image and text - Designed for mobile first */
.main-message {
  background-image: url("https://cdn.glitch.com/2c28e6b4-effc-4ae8-a743-98dc016a18bb%2Fclassroom.jpg?v=1589139561720");
  min-height: 100%;
  background-size: auto;
  background-color: #0D38D3;
  /*border-style: dotted; /*Uncomment to see the outline of the container*/
}

/*-----------PARALLAX SCROLL-----------*/
.main-message,
.image-one,
.image-two,
.image-three,
.image-four {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #43d6b9ff;
  background-size: cover;
  min-height: 100%; /*Adjust the gap between sections*/

  /*Creates the scrolling effect*/
  background-attachment: fixed;
}

/* Flexbox container for title and intro text (designed for mobile first) */
.flex-container {
  display: flex; /* Set the flexbox display */
  flex-direction: row; /* Configure the flex items to row */
  flex-wrap: nowrap; /* Don’t wrap the flex items */
  justify-content: center; /* Justify the flex items to the center */
  align-items: center; /* Align the flex items to the center */
  
  background-color: #0D38D3;

  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  padding: 5px;
  align-items: center;
  top: 50%;
  left: 10%;
  right: 10%;
}

/* Left box (designed for mobile first) */
.title {
  padding: 4%;
  margin: 2%;
  text-align: center;
  color: #43d6b9ff;
  font-size: 50px;
  letter-spacing: 10px;
  line-height: 60px;
  /*border-style: dotted;*/
}

/* Right box (designed for mobile first) */
.intro-text {
  padding: 4%;
  margin: 2%;
  font-size: 20px;
  color: #0D38D3;
  line-height: 1.4em;
  text-align: center;
  background-color: #43d6b9ff;
  /*border-style: dotted;*/ /*Uncomment to see the outline of the container*/
}

/*-----------TEXT SCROLLING SECTIONS-----------*/
.textSection {
  background-color: #0D38D3;
  padding: 20px 45px;
  margin: 35px;
  text-align: center;
}

/*-----------IMAGES-----------*/
.image-one {
  background-image: url("https://cdn.glitch.com/2c28e6b4-effc-4ae8-a743-98dc016a18bb%2Fhands.jpg?v=1589139471777");
}

.image-two {
  background-image: url("https://cdn.glitch.com/2c28e6b4-effc-4ae8-a743-98dc016a18bb%2Flibrary-student.jpg?v=1589139471717");
}

.image-three {
  background-image: url("https://cdn.glitch.com/2c28e6b4-effc-4ae8-a743-98dc016a18bb%2Fgirl.jpg?v=1589139471577");
}

.image-four {
  background-image: url("https://cdn.glitch.com/2c28e6b4-effc-4ae8-a743-98dc016a18bb%2Fmask.jpg?v=1589139471808");
}

/* Add more images here for more scrolling! */



/******************************************************/
/***************** CSS FOR EXTENSIONS *****************/
/******************************************************/

/*---------------ADD ITEM EXTENSION--------------*/
#add-button {
  padding: 10px;
  width: 50px;
  background: #0d9c90;
  border-radius: 8px;
  border: none;
  margin-left: 10px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
}

#add-button:hover {
  background-color: #f4364c;
}

input {
  margin: 0;
  width: 200px; /*Sets width of box*/
  padding: 10px;
}
